body{
    margin: 0;
    padding: 0;
}
/* Navigation */

.webpage-title-div{
    background-color: rgb(26, 100, 185);
    height: 120px;
    text-align: center;
}

.webpage-title{
    color: aliceblue;
    margin: 0;
    padding: 40px;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 28px;
}

.webpage-title-span{
    color: rgb(29, 199, 179);
    font-size: 32px;
}
/* Navigation */
