body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    /* font-family: Arial, sans-serif; */
}

/* Navigation */
.webpage-logo{
    position: absolute;
}

.logo-container{
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    margin: 10px;
    border: 2px solid  rgb(29, 199, 179);
}

.logo-container > img{
    display: block;
    width: 100%;
    height: auto;
}

.logo-container:hover{
    border: 2px solid  rgb(205, 59, 18);
}

.webpage-title-div {
    background-color: rgb(26, 100, 185);
    height: 120px;
    text-align: center;
    margin: 0 auto;
}

.webpage-title {
    color: aliceblue;
    margin: 0;
    padding: 40px;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 28px;
}

.webpage-title-span {
    color: rgb(29, 199, 179);
    font-size: 32px;
}

.header-navigation-div {
    background-color: rgb(128, 150, 168);
    text-align: center;
}

.header-navigation {
    display: flex;
    list-style-type: none;
    margin: 0;
    justify-content: center;
    margin-right: 30px;
}

.header-nav-li {
    margin-right: 1em;
}

.header-nav-a {
    text-decoration: none;
    color: rgb(29, 199, 179);
    font-size: 18px;
}

.header-nav-a:hover {
    color: rgb(205, 59, 18);
}

/* Navigation */
/* Introduction Section */
.intro-section {
    width: 100%;
    height: 590px;
    background-color: rgb(220, 242, 245);
    margin-top: 10px;
    margin-bottom: 20px;
}

.intro-section-header {
    text-align: center;
    padding-top: 1px;
}

.intro-section-header>h2 {
    text-transform: uppercase;
    font-size: 45px;
}

.intro-section-divs {
    display: flex;
    width: 100%;
    height: 520px;
    text-align: center;
}

.left-intro-section {
    width: 49%;
}

.right-intro-section {
    width: 49%;
}

.intro-p {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-size: 16px;
}

.intro-p-header {
    text-transform: uppercase;
}

/* Introduction Section */


/* First Blog section */
.first-blog-section {
    width: 99%;
    height: 460px;
    margin-bottom: 40px;
    display: flex;
    justify-content: start;
}

.first-blog {
    width: 600px;
    height: 420px;
    padding: 20px;
    background-color: rgba(101, 170, 248, 0.527);
    margin-left: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.first-blog-header-div {
    background-color: rgb(26, 100, 185);
}

.first-blog-header {
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.first-blog-paragragh-div {
    background-color: rgb(26, 100, 185);
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-blog-para {
    text-align: center;
    font-size: 18px;
    color: rgb(226, 219, 219);
}

/* First Blog section */

/* Second Blog Section */
.second-blog-section {
    width: 99%;
    height: 460px;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}

.second-blog-start {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    width: 500px;
    height: auto;
    justify-content: flex-start;
}

.second-blog-start-title {
    text-transform: uppercase;
}

.second-blog {
    width: 600px;
    height: 420px;
    padding: 20px;
    background-color: rgba(101, 170, 248, 0.527);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);

}

.second-blog-header-div {
    background-color: rgb(26, 100, 185);
}

.second-blog-header {
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.second-blog-paragragh-div {
    background-color: rgb(26, 100, 185);
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-blog-para {
    text-align: center;
    font-size: 18px;
    color: rgb(226, 219, 219);
}

/* Second Blog Section */

/* Footer Section */

.footer-section {
    width: 100%;
    height: auto;
    color: rgb(255, 255, 255);
}

.footer-exterior {
    padding: 30px;
}

.footer-div {
    width: 100%;
    height: auto;
    background-color: rgb(62, 131, 205);
    border-radius: 15px;
}

.footer {
    padding: 30px;
    display: flex;
    text-align: center;

}

.footer-section-1 {
    width: 33%;
    height: auto;
    /* background-color: green; */
}

.footer-section-2 {
    width: 33%;
    height: auto;
    /* background-color: red; */
}

.footer-section-3 {
    width: 33%;
    height: auto;
    /* background-color: yellow; */
}

.footer-section-title {
    font-size: 30px;
}

.footer-section-para {
    font-size: 18px;
}

.footer-section-span {
    font-size: 20px;
}

.image-container {
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 5px solid white;
    overflow: hidden;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}


/* Footer Section */

/* Media Queries */

@media (max-width: 2560px) {
    .intro-p {
        font-size: 35px;
    }
    .intro-p-header{
        font-size: 40px;
    }
    .intro-section-header>h2{
        font-size: 45px;
    }
    .webpage-title{
        font-size: 45px;
    }
    .webpage-title-span{
        font-size: 50px;
    }
}

@media (max-width: 1458px){
    .intro-p {
        font-size: 30px;
    }
    .intro-p-header{
        font-size: 35px;
    }
    .intro-section-header>h2{
        font-size: 40px;
    }
}


@media (max-width: 1354px) {
    .second-blog-start {
        display: none;
    }
}

@media (max-width: 1343px) {
    .footer-section-2 {
        visibility: hidden;
        width: 10%;
    }

    .footer-section-3 {
        width: 44%;
    }

    .footer-section-1 {
        width: 44%;
    }
}

@media (max-width: 1300px) {
    .footer-exterior {
        padding: 20px;
    }
}

@media (max-width: 1100px){
    .intro-p {
        font-size: 25px;
    }
    .intro-p-header{
        font-size: 30px;
    }
    .intro-section-header>h2{
        font-size: 35px;
    }
}

@media (max-width: 1030px) {
    .footer-section-2 {
        display: none;
    }

    .footer-section-1 {
        width: 49%;
    }

    .footer-section-3 {
        width: 49%;
    }
}

@media(max-width: 809px){
    .webpage-logo{
        display: none;
    }
    .logo-container{
        display: none;
    }
}

@media (max-width: 900px) {
    .footer-exterior {
        padding: 10px;
    }
}

@media (max-width: 742px){
    .intro-p {
        font-size: 20px;
    }
    .intro-p-header{
        font-size: 25px;
    }
    .intro-section-header>h2{
        font-size: 30px;
    }
}

@media (max-width:675px){
    .webpage-title{
        font-size: 35px;
    }
    .webpage-title-span{
        font-size: 40px;
    }
}

@media (max-width: 650px) {
    .first-blog {
        margin-left: 0px;
    }

    .footer-section-3 {
        display: none;
    }

    .footer-section-1 {
        width: 99%;
    }
}

@media (max-width:522px){
    .webpage-title{
        font-size: 28px;
    }
    .webpage-title-span{
        font-size: 30px;
    }
}

@media (max-width:451px){
    .webpage-title{
        font-size: 22px;
    }
    .webpage-title-span{
        font-size: 24px;
    }
}

@media (max-width: 437px){
    .intro-p {
        font-size: 15px;
    }
    .intro-p-header{
        font-size: 20px;
    }
    .intro-section-header>h2{
        font-size: 25px;
    }
}

@media (max-width:354px){
    .webpage-title{
        font-size: 18px;
    }
    .webpage-title-span{
        font-size: 20px;
    }
}
/* Media Queries */