/* Colors */

/* background-color: #daa520;  Gold */
/* background-color: #1B2430;   Dark  */
/* background-color: #D6D5A8; Beigh */

body {
    padding: 0;
    background-color: #1B2430;
    color: white;
}

#Navigation {
    width: 100%;
    height: 150px;
    background-color: #daa520;
}

.Navigation-section2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    height: 40px;
}

.nav-header {
    text-align: center;
    padding-top: 20px;
    font-size: 4rem;
}

nav a {
    position: relative;
    text-decoration: none;
    color: #daa520;
    font-size: 2vw;
    letter-spacing: 0.5;
}

nav a:hover {
    color: #daa520;
    font-size: 2.1vw;
}

/* Hero Section */

#Hero-section{
margin-top: 150px;
}

.hero-header {
font-size: 3rem;
}

.hero-more{
font-size: 1.6rem;
}

.hero-more2{
font-size: 1.5rem;
}