/* Colors */
/* background-color: #daa520;  Gold */
/* background-color: #1B2430;   Dark  */
/* background-color: #D6D5A8; Beigh */


/* buttons */
.button1 {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #daa520;
    color: white;
}

.button1:hover {
background-color: white;
color: #daa520;
}

.button2 {
    border: 16px;
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    background-color: #daa520;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button2:hover {
    background-color: #ab7f0f;
}

.button3{
  background-color: #1B2430;
  color: white;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  border-radius: 5px;
}

.button3:hover{
  color: #daa520;
}

body {
    padding: 0;
    background-color: #1B2430;
    color: white;
}

#Navigation {
    width: 100%;
    height: 150px;
    background-color: #daa520;
}

.Navigation-section2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    height: 40px;
}

.nav-header {
    text-align: center;
    padding-top: 20px;
    font-size: 4rem;
}

nav a {
    position: relative;
    text-decoration: none;
    color: #daa520;
    font-size: 2vw;
    letter-spacing: 0.5;
}

nav a:hover {
    color: #daa520;
    font-size: 2.1vw;
}

/* Hero Section */

#Hero-section{
margin-top: 150px;
}

.hero-header {
font-size: 3rem;
}

.hero-more{
font-size: 1.6rem;
}

.hero-more2{
font-size: 1.5rem;
}

.hero-more-div{
    max-width: 600px;
}

/* Courses Section  */
.Courses-title{
text-align: center;
text-transform: uppercase;
}

#slide-content{
  margin: 0 auto;
  margin-bottom: 50px;
}

.slide-container{
    margin-top: 130px;
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    background-color: #FFF;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #daa520;
    border-radius: 25px 25px 0 25px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #daa520;
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #1B2430;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: black;
  }
  .description{
    font-size: 14px;
    color: #1B2430;
    text-align: center;
  }
  
  .swiper-navBtn{
    color: white;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #ab7f0f;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: white;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #ab7f0f;
  }

  /* Who We Are Section */
  #WWA-section{
    margin-top: 130px;
    margin-bottom: 100px;
    width: 100%;
    height: 350px;
    background-color: #1B2430;
    padding: 10px;
  }

  .WWA-row{
    background-color: #daa520;
    border-radius: 5px;
    padding: 20px;
  }

  .WWA-left{
  justify-content: center;
  margin: auto;
  }

  .WWA-right{
    
  }

  .WWA-header {
    font-size: 30px;
    padding-top: 20px;
  }

  .WWA-para {
    font-size: 23px;
    padding-top: 10px;
  }

  .community{
    width: 100px;
    height: 27px;
    background-color: #1B2430;
    border-radius: 15px;
  }

  .community-para{
    text-align: center;
  }

  .diss-image{
    display: block;
    margin-left:auto;
    margin-right:auto;
    border: #FFF solid 15px;
    border-radius: 5px;
  }

  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
   
  }