.container {
    max-width: 1140px;
    margin: auto;
}

.big-button {
    padding: 27px 83px 27px 83px;
}

body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 8px 16px 8px 16px;
    text-transform: uppercase;
}

nav ul li.active {
    background-color: #643a79;
    border-radius: 5px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav {
    float: right;
}

header {
    padding-top: 55px;
}

#section-1 {
    background-color: #87509c;
    min-height: 595px;
}

#main-heading-and-cta {
    margin-top: 145px;
    text-align: center;
}

#main-heading-and-cta h1 {
    color: white;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 60px;
}

#main-heading-and-cta a {
    background: #eb7d4b;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
}

/* Section 2  */

#section-2 h2 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 4px;
    margin-top: 0%;
    margin-bottom: 10px;
}

#section-2 p {
    font-size: 18px;
    font-weight: lighter;
}

#section-2 {
    background-color: #17c2a4;
    min-height: 750px;
    color: white;
}

.title-box {
    max-width: 609px;
    text-align: center;
    padding-top: 120px; 
    margin: auto;
}

.title-box .line {
    background-color: rgba(0, 0, 0, 0.162);
    height: 4px;
    width: 87px;
    margin: auto;
}

.blurb-row{
    margin-top: 80px;
}

.blurb {
    width: 23.33%;
    text-align: center;
    display: inline-table;
}

.blurb h3 {
    margin-top: 60px;
    font-size: 24px;
    font-weight: bold;
}

.blurb p {
    font-size: 16px;
    font-weight: lighter;
    max-width: 200px;
    margin: auto;
}

/* Section 3  */

#section-3 {
    background-color: #3c5499;
    min-height: 820px;
    color: white;
}

#section-3 h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
    letter-spacing: 5px;
}

#section-3 p {
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 2px;
}

#section-3 .title-box {
    max-width: none;
    margin-bottom: 70px;
    padding-top: 60px;
}

#contact-form {
    max-width: 870px;
    margin: auto;
}

.form-row {
    text-align: center;
    display: flex;
}

.text-form {
    background-color: #273a71;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    width: 50%;
    height: 56px;
    margin:16px;
}

.form-row textarea {
    background-color: #273a71;
    color: white;
    font-size: 18px;
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
    margin: 16px;

}

.form-row textarea::placeholder {
    color: white;
    padding-left: 16px;
    font-weight: lighter;
    letter-spacing: 1px;
    padding-top: 24px;
}

.text-form::placeholder {
    color: white;
    padding-left: 16px;
    font-weight: lighter;
    letter-spacing: 1px;
}

.button{
    background-color: #30bae7;
    color: white;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    padding: 27px 83px 27px 83px;
    margin: auto;
    margin-top: 50px;
}

/* Footer */

footer {
    background-color: #344b8e;
}

.footer-links {
    max-width: 945px;
    margin: auto;
}

.footer-links ul {
    margin: 0;
    padding-top:25px;
    padding-bottom:25px;
    padding-left: 0;
}

.footer-links ul li {
    display: inline-block;
    padding: 10px 20px 10px 20px;
}

.footer-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.footer-links ul li a.active {
    color: #30bae7;
}

/* Media Queries */

@media screen and (max-width:1140px) {
    .container {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (max-width:940px){
    .footer-links {
        max-width: 673px;
        text-align: center;
    }
}

@media screen and (max-width:794px) {
    .blurb h3 {
        font-size: 22px;
    }
}

@media screen and (max-width:731px) {
    .blurb {
        width: 46.66%;
        margin-bottom: 50px;
    }

    .blurb h3 {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width:620px) {
    #main-heading-and-cta h1 {
        font-size: 35px;
    } 
    
    /* Burger Icon */
    #menu-icon {
        display: inline-block !important;
        color: white;
        font-size: 25px;
        position: absolute;
        margin-right: 15px;
        top: 60px;
        right: 15px;
    }

    nav {
        display: none;
    }

    #main-menu {
        width: 100%;
    }

    #main-menu ul li {
        display: block;
    }

    #main-heading-and-cta h1 {
        font-size: 30px;
    }
}

@media screen and (max-width:455px) {
    #main-heading-and-cta h1 {
        font-size: 26px;
    } 
}

@media screen and (max-width:405px) {
    #main-heading-and-cta h1 {
        font-size: 25px;
    }

    .blurb {
        width: 100%;
    }   
}

@media screen and (max-width:320px) {
    .big-button {
        font-size: 15px;
    }

    .button {
    padding: 22px 70px 22px 70px;
    }

    #main-heading-and-cta h1 {
        font-size: 24px;
    } 
}