/* Colors */
    /* blue  #30d5c8 */


    /* buttons */
.action-button{
    position: relative;
    top: 90%;
    margin-left: 100px;
    background-color: rgb(173, 255, 47);
    border: none;
    border-radius: 1px;
    width: 200px;
    height: 50px;
    color: black;  
    font: bold;
    cursor: pointer;
}

.action-button:hover{
    background-color: rgb(123, 182, 36);
    color: white;
}

body{
    padding: 0px;
    margin: 0px;
}

#Nav{
    width: 100%;
    height: auto;
    background-color: #d3d3d3;
}

.header-container{
    display: flex;
}

.nav-div-header{
    padding: 20px 20px;
}

.nav-header{
    margin: 0px;
    font-size: 3rem;
    font-weight: 1000; 
}

.nav-header-span{
    font-size: 2.7rem;
    font-weight: 1000;
    margin-left: 50px;
}

.nav-div-center{
 width: 100%;
 margin: auto;
}

.nav-div-center-para{
    font-size: 5vh;
    font-weight: 1000; 
    text-align: center;
}

.nav-links{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav-a{
    text-decoration: none;
    color: black;
    transition: color 0.2s ease-in-out;
}

.nav-a:hover{
    color:  rgb(111, 181, 7);
}

.nav-a-h3{
    font-size: 1.3rem;
}

.banner-container{
    background-color: rgb(191, 255, 63);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.banner-content-div{
    width: 30%;
    text-align: center;
}

.banner-content{
    font: 2rem;
    font-weight: bold;
}

.banner-content-span{
    font: 1.5rem;
    font-weight: 500;
}

.image-container{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: black;
}

.shoe-image{
    min-width: 1800px;
    width: 100%;
    height: 700px;
    background-image: url('/assets/JDBanner.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: static;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    .nav-div-center-para {
      font-size: 4vh;
    }
  }

@media (max-width: 500px) {
    .nav-div-center-para {
      display: none;
    }
  }