/* Colors */
/* blue  #30d5c8 */


/* buttons */
.action-button {
    position: relative;
    top: 90%;
    margin-left: 100px;
    background-color: rgb(173, 255, 47);
    border: none;
    border-radius: 1px;
    width: 200px;
    height: 50px;
    color: black;
    font: bold;
    cursor: pointer;
}

.action-button:hover {
    background-color: rgb(123, 182, 36);
    color: white;
}

body {
    padding: 0px;
    margin: 0px;
}

#Nav {
    width: 100%;
    height: auto;
    background-color: #d3d3d3;
}

.header-container {
    display: flex;
}

.nav-div-header {
    padding: 20px 20px;
}

.nav-header {
    margin: 0px;
    font-size: 3rem;
    font-weight: 1000;
    color: rgb(255, 251, 35);
}

.nav-header-span {
    font-size: 2.7rem;
    font-weight: 1000;
    margin-left: 50px;
    color: rgb(255, 251, 35);
}

.nav-div-center {
    width: 100%;
    margin: auto;
}

.nav-div-center-para {
    font-size: 2.5rem;
    font-weight: 1000;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav-a {
    text-decoration: none;
    color: black;
    transition: color 0.2s ease-in-out;
}

.nav-a:hover {
    color: rgb(111, 181, 7);
}

.nav-a-h3 {
    font-size: 1.3rem;
}

.banner-container {
    background-color: rgb(191, 255, 63);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.banner-content-div {
    width: 30%;
    text-align: center;
}

.banner-content {
    font: 2rem;
    font-weight: bold;
}

.banner-content-span {
    font: 1.5rem;
    font-weight: 500;
}

.image-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: black;
}

.shoe-image {
    min-width: 1800px;
    width: 100%;
    height: 700px;
    background-image: url('/assets/JDBanner.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: static;
}


.advert-container {
    background-color: rgb(173, 255, 47);
    margin-top: 100px;
    margin-bottom: 100px;
}

.advert-header {
    text-align: center;
    color: white;
}

.advert-span {
    font-weight: 100;
    color: white;
    text-decoration: underline 2px solid white;
}

.advert-para {
    font-weight: 100;
    font-size: 0.8rem;
}

.advert-left-side {
    background: linear-gradient(to left top,
            rgb(173, 255, 47) 25%,
            black 25% 50%,
            hotpink 50% 75%,
            rgb(173, 255, 47) 75%);
}

.advert-middle-side {
    padding-top: 20px;
    padding-bottom: 35px;
    background: linear-gradient(to bottom left,
            rgb(173, 255, 47) 25%,
            rgb(7, 221, 245) 25% 50%,
            black 50% 75%,
            rgb(173, 255, 47) 75%);
}

.advert-right-side {
    background: linear-gradient(to left top,
            rgb(173, 255, 47) 25%,
            black 25% 50%,
            hotpink 50% 75%,
            rgb(173, 255, 47) 75%);

}

.slideshow {
    position: relative;
    height: 1em;
    /* Set the height to the height of the paragraph */
}

.slideshow p {
    position: absolute;
    top: -40px;
    left: 70px;
    opacity: 0;
}

.slideshow p:first-child {
    opacity: 1;
}


.button-container {
    display: inline-flex;
    margin-bottom: 50px;
}

.filter-button {
    width: auto;
    height: 50px;
    border: none;
    background-color: rgb(7, 221, 245);
    color: white;
}

.filter-button:hover {
    background-color: black;
}

.button-disabled {
    width: auto;
    height: 50px;
    border: none;
    background-color: rgba(7, 221, 245, 0.541);
    color: white;
}

.button-disabled:hover {
    background-color: rgba(0, 0, 0, 0.552);
}

.filter-button,
.button-disabled {
    margin-left: 15px;
}

.button-header {
    text-transform: uppercase;
}


.shoe-header {
    font-size: 1.5rem;
    font-weight: 200;
}

.shoe-price {
    font-size: 2rem;
    font-weight: 500;
}

.shoe-card {
    cursor: pointer;
}

.show-row2 {
    margin-top: 50px;
}

.image-container2 {
    max-width: 300px;
    max-height: 300px;
    margin: auto;
}

.advert-container2 {
    margin-top: 50px;
}

.advert-shoes-container {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap
}

.advert-card {
    position: relative;
    width: 500px;
    height: 600px;
    background-image: url(../shoe-images/image1.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    padding: 0px;
    margin: 0px;
}

.advert-card2 {
    position: relative;
    width: 500px;
    height: 600px;
    background-image: url(../shoe-images/image2.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    padding: 0px;
    margin: 0px;
}

.advert-card3 {
    position: relative;
    width: 500px;
    height: 600px;
    background-image: url(../shoe-images/image3.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    padding: 0px;
    margin: 0px;
}

.adevert-shoe-content {
    position: absolute;
    text-align: center;
    bottom: 50px;
    right: 150px;
    margin: auto;
}

.adevert-shoe-content2 {
    position: absolute;
    text-align: center;
    bottom: 50px;
    right: 120px;
    margin: auto;
}

.advert-category-header {
    font-size: 2.2rem;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px 0 black, 2px 2px 0 #aaa;
    margin-bottom: 50px;
}

.advert-brand-selection {
    font-size: 1.2rem;
    color: black;
    background-color: white;
    margin-top: 10px;
    cursor: pointer;
}

#footer {
    margin-top: 50px;
}

.Social-links-container {
    padding: 0px;
    height: auto;
    display: inline-flex;
    background-color: #2e2e2e;
    width: 100%;
}

.Social-links-header {
    color: white;
    padding: 10px;
    font-size: 1.8rem;
}

.social-links-a {
    color: white;
    font-size: 1.8rem;
    padding: 10px;
    cursor: pointer;
}

.social-links-a:hover {
    color: aqua;
}


.footer-advert-container {
    background-color: #f5f5f5;
    padding: 100px;
    text-align: center;
}

.footer-advert-header {
    font-size: 2.5rem;
    padding-bottom: 20px;
}

.footer-advert-para1 {
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.footer-advert-para2 {
    font-size: 1.3rem;
}

.footer-advert-para2-span {
    font-size: 1.5rem;
    font-weight: 700;
}

.sign-up-container {
    display: inline-flex;
    padding-bottom: 20px;
}

.sign-up-input {
    border: none;
    background-color: white;
    width: 500px;
    height: 50px;
}

.sign-up-input:focus{
    outline: none;
}

.arrow-rigth {
    font-size: 20px;
    margin: auto;
    border: none;
    background-color: white;
    height: 50px;
    color: black;
    text-decoration: none;
    padding: 10px;
    font-weight: lighter;
}

.arrow-rigth:hover {
    color: black;
}

/* MEDIA QUERIES */

@media(max-width: 1500px) {
    .advert-card3 {
        margin-top: 30px;
    }
}

@media(max-width: 1000px) {
    .advert-card2 {
        margin-top: 30px;
    }
}

@media (max-width: 869px) {
    .nav-div-center-para {
        font-size: 2rem;
    }

    .nav-a-h3 {
        font-size: 1rem;
    }

}

@media (max-width: 768px) {
    .nav-div-center-para {
        font-size: 1.8rem;
    }
}

@media(max-width:693px) {
    .sign-up-input {
        width: 350px;
    }
}

@media (max-width: 633px) {
    .nav-div-center-para {
        font-size: 1.5rem;
    }
}

@media (max-width: 575px) {
    .sign-up-input {
        width: 300px;
    }
}

@media (max-width: 564px) {
    .nav-div-center-para {
        display: none;
    }

    .nav-div-center {
        display: none;
    }

    .nav-div-header {
        width: 100%;
    }

    .nav-header {
        text-align: center;
    }

    .button-container {
        display: inline;
    }

    .shoe-row {
        margin-top: 50px;
    }

    .filter-button,
    .button-disabled {
        margin-left: 0px;
    }

    .sign-up-input {
        width: 200px;
    }
}

@media(max-width:500px) {
    .advert-card {
        width: 300px;
        height: 400px;
    }

    .advert-card2 {
        width: 300px;
        height: 400px;
    }

    .advert-card3 {
        width: 300px;
        height: 400px;
    }

    .adevert-shoe-content {
        bottom: 50px;
        right: 50px;
    }

    .adevert-shoe-content2 {
        bottom: 50px;
        right: 17px;
    }
}

@media (max-width: 465px) {
    .nav-a-h3 {
        font-size: 0.5rem;
    }

    .sign-up-input {
        width: 150px;
    }
}

@media (max-width: 375px) {

    .filter-button,
    .button-disabled {
        width: 91px;
    }

    .sign-up-container {
        display: none;
    }
}