.color-red {
    color:red;
}

.color-blue {
    color:blue;
}

#box {
    width: 200px;
    height: 200px;
    background-color: black;
    margin: 50px  auto;
}

.box-2 {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin-left: 50px;
}

#toggle-button {
    margin-left: 50px;
}

#toggle-input {
    margin-left: 50px;
}

.button4 {
   margin-left: 50px;
   margin-top: 50px;
}

.black-box {
    width: 200px;
    height: 200px;
    background-color: black;
    margin-left: 50px;
    display: none;
}


.animate-box {
    width: 200px;
    height: 200px;
    background-color: greenyellow;
    margin-left: 50px;
}

.change-box {
    margin-left: 50px;
    display: none;
}

.change-box-width-button {
    margin-left: 50px;
    display: none;
}

.width-to-small {
    margin-left: 50px;
    display: none;
}

.fadeOut-button {
    margin-left: 50px;
    display: none;
}

.Togglefade-button {
    margin-left: 50px;
    display: none;
}

.purple-class {
    background-color: purple;
    border: 1px solid palegreen;
    width: 200px;
    height: 200px;
    margin-left: 50px;
}

.change-box-width {
    width: 100%;
}

.change-box-width-to-small {
    width:200px;
}

.green {
    background-color: limegreen;
}

.animation-button {
    margin-left: 50px;
    margin-top: 30px;

}

.starwars-containerimg {
    width: auto;
    height: auto;
    
}